[program:consul]
command=/usr/local/bin/consul {% if not consul_server %}agent{% endif %} -config-dir=/etc/consul.d
autostart=true
autorestart=true
stderr_logfile=/var/log/consul.err.log
stdout_logfile=/var/log/consul.out.log