{
  "datacenter": "{{ consul_cluster }}",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "node_name": "{{ ansible_hostname }}",
  "server": "{{ consul_server }}",
  {% if consul_acl %}
  "acl_datacenter": "{{ consul_acl_cluster }}",
  "acl_token": "{{ consul_token }}",
  {% endif %}
  "retry_join": [
    "provider=azure tag_name={{ consul_join_tag }} tag_value={{ consul_cluster }} subscription_id={{ azure_subscription }} tenant_id={{ azure_tenant }} client_id={{ azure_client }} secret_access_key={{ azure_secret }}"
    ]
}