dd_url: https://app.datadoghq.com
api_key: {{ datadog_api_key }}
apm_enabled: {{ datadog_apm_enabled|default('false') }}
enable_gohai: {{ datadog_gohai_enabled|default('false') }}
process_agent_enabled: {{ datdog_agent_enabled|default('false')}}
tags: 
  env: {{ env }}
  service: {{ service_name }}